body {
  font-family: 'Verdana', sans-serif; 
  font-size: 15px; 
  background-color: #ffffff;
  color: #000000;
  line-height: 1.4; 
}



header {
  background-color: rgb(190, 190, 190); 
  text-align: left;
}

header img {
  border: 2px solid black;
}

header h1 {
  text-align: center; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #050789; 
  margin: 10px 0; 
}



nav {
  background-color: #89eaf9; 
  margin-bottom: 10px;

}

nav ul {
  padding: 0;
  margin: 0;
  text-align: left;
}

nav ul li {
  display: inline-block; 
  width: 200px; 
}

nav ul li a {
  color: #7543d0;
  text-decoration: underline;
  font-weight: bold;
}

nav ul li a:hover {
  color: rgb(102, 0, 102);
}



main {
  background-color: rgb(255, 255, 123); 
  font-size: 17px; 
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

main p {
  line-height: 1.4; 
  color: black;
}

main a {
  color: #0300ad;
  text-decoration: underline;
}

main a:hover {
  color: rgb(102, 0, 102);
}



footer {
  background-color: rgb(190, 190, 190); 
  color: #000000;
  text-align: center;
  position: relative;
  width: 100%;
}

footer a {
  color: #1003fd;
  text-decoration: underline;
}

footer a:hover {
  color: rgb(102, 0, 102);
}



main div {
  display: flexbox;
  flex-wrap: wrap;   
}

main div img {
  border-radius: 5px;
}